/*main style*/
body {
	background-image: url("images/background.png");
	margin: 0;
	padding: 0;
	font: 8pt Verdana, Tahoma, sans-serif;
}

.banner {
	background-image: url("images/bannerbackground.png");
	background-repeat: repeat-x;
	height: 50px;
	text-align: center;
}

.heading {
	font:bold 24pt Tahoma, Verdana, sans-serif;
	text-align: center;
}

/*container style*/
.container {
	margin:auto;
	padding: 0;
	width: 800px;
	height: auto;
	border: 4px solid gray;
}

.footer {
	clear: both;
	background-color: #A2B964;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
    padding: 5px;
}

/*left side style*/
.leftside {
	float: left;
	width: 550px;
	padding-bottom: 10px;
}

.subheading {
	margin: 0;
	background-image: url("images/rottenbackground.png");
	background-repeat: repeat-x;
	height: 83px;
}

.subheading > img {
	vertical-align: bottom;
}

.big {
	font: bold 48pt Verdana, Tahoma, sans-serif;
	color: red;
}

.small {
	color: white;
}

.content {
	margin: 0;
}

.leftcomment {
	margin: 0;
	float: left;
	width: 47%;
	padding-left: 2%;
}

.rightcomment {
	margin: 0;
	float: right;
	width: 47%;
	padding-right: 2%;
}

p.comment {
	padding: 8px;
	background-color: #E1D697;
	border: 2px solid gray;
	overflow: hidden;
}
q {
	font-weight: bold;
}

img.icon {
	float: left;
	margin-right: 5px;
}

img.reviewer {
	float: left;
	margin-right: 5px;
}

p.information {
	margin-bottom: 3em;
	vertical-align: top;
	font-style: italic;
}
p.information > span {
	font-style: normal;
}

/*right side style*/
.rightside {
	float: right;
	width: 250px;
	padding-bottom: 10px;
	background-color: #A2B964;
	font-family: Arial, sans-serif;
}

.overview {
	padding:0 10px;
}

dl {
	margin: 0;
}

dl dt {
	font-weight: bold;
	font-variant: small-caps;
	padding-top: 1em;
}


/*w3c style*/
.validor {
    position: fixed;
    right: 0;
    bottom: 0;
    border: none;
}